# Arquivos de configuração local
local.properties

# Arquivos do Android Studio
.idea/
.gradle/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Arquivos de build
build/
app/build/
*.apk
*.aab

# Arquivos de keystore
*.keystore
*.jks

# Arquivos de log e temporários
*.log
*.tmp
*.bak
*.swp
*~.nib
*.hprof

# Arquivos de sistema
.DS_Store
Thumbs.db